body {
    font-family: Arial,  sans-serif; /* La famiglia del font */
    font-size: 16px; /* La dimensione del font principale nei tag <p></p> */
    background-color: #cac0c0; /* Il colore dello sfondo della pagina web */
    color: #333333; /* Il colore del testo */ 
    animation: fadeIn 5s; /* Applicazione dell'animazione di dissolvenza */
    text-align: center; /* Allineamento del testo al centro */
}

h1 {
    color: #973030; /* Il colore dell'intestazione */
    font-size: 30px; /* La dimensione del font dell'intestazione */
    font-family: Georgia, serif; /* La famiglia del font usata nell'intestazione */
    animation: fadeIn 5s; /* Applicazione dell'animazione di dissolvenza */
    animation: slideIn 5s; /* Applicazione dell'animazione di scorrimento */
}
h2 {
    animation: fadeIn 5s; /* Applicazione dell'animazione di dissolvenza */
    color: #f7a800; /* Il colore dell'intestazione */
    animation: feDropShadow 6s forwards; /* Applicazione dell'animazione di ombra */
    
}

ul {

  justify-content: center; /* Centra orizzontalmente */
  list-style-position: inside; /* Sposta il punto all'interno del testo */
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-500%); }
    to { transform: translateY(0); }
}
@keyframes feDropShadow {
    from { filter: drop-shadow(0 0 0 black); }
    to { filter: drop-shadow(10px 4px 6px black); }
}





